<header>
  <div class='menu'>
    <span class='toggle'>
      <i></i>
      <i></i>
      <i></i>
    </span>
    <div class='menuContent'>
      <ul>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "Technology", technology_path %>
        </li>
        <li>
          <%= link_to "Book", book_path %>
        </li>
      </ul>
    </div>
  </div>
</header>