<%= render 'header' %>
<div class="masonry">
	<div class="grid">
	  <a href="detail.html">
  	  お金の本
  	  <img src="images/book/okane.png" width="300"/>
  	  【レビュー】アイウエオかきくけさしすせそ
	  </a>
	</div>
	<div class="grid">未来の年表<img src="images/book/future.png" width="300"/>【レビュー】アイウエオかきくけさしすせそ</div>
	<div class="grid">下町ロケット<img src="images/book/shitamachi.png" width="300"/>【レビュー】アイウエオかきくけさしすせそ</div>
</div>