<div class = "detail_contents">
  <%= render 'header' %>
  <div class="row_detail">
      <h2><%= @content.title %></h2>
      <div class="col-md-3 col-md-offset-3" class = "center">
        <p>
          <%= @content.body.html_safe %>
        </p>
      </div>
      <div class="col-md-6">
        <%= image_tag(@content.image1.url, { :border => '0'}) %>
      </div>
  </div>
</div>