<%= render 'header' %>
<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">お金の本</h3>
      <a class="btn btn-default pull-right" href="#">
        <i class="fa fa-check"></i>
        Button
      </a>
  </div>
  <div class="panel-body">
    <p><img src="images/book/okane.png" width="400"/></p>
  </div>
  <div class="panel-footer">
    <small>【レビュー】アイウエオかきくけさしすせそ</small>
  </div>
</div>
<div class="masonry">
	<div class="grid">お金の本<img src="images/book/okane.png" width="300"/>【レビュー】アイウエオかきくけさしすせそ</div>
	<div class="grid">未来の年表<img src="images/book/future.png" width="300"/>【レビュー】アイウエオかきくけさしすせそ</div>
	<div class="grid">下町ロケット<img src="images/book/shitamachi.png" width="300"/>【レビュー】アイウエオかきくけさしすせそ</div>
</div>
