<style>
.bg_1 {
  background-image: url(/images/top/mig.jpeg);
  background-size: cover;
  text-align: center;
}
.bg_2 {
  background-image: url(/images/top/sea.jpg);
  background-size: cover;
  text-align: center;
}
.bg_3 {
  background-image: url(/images/top/images.jpeg);
  background-size: cover;
  text-align: center;
}
.bg_4 {
  background-image: url(/images/top/technology.png);
  background-size: cover;
  text-align: center;
}
.bg_5 {
  background-image: url(/images/top/book.png);
  background-size: cover;
  text-align: center;
}
</style>
<div class="">
  <main id="fullpage">
    <div class="section">
      <div class="slide bg_1">
        <h1>ふるしーのmemo</h1>
        <p>スライド１まい目の内容</p>
      </div>
      <div class="slide bg_2">
        <p>スライド２枚目の内容</p>
      </div>
      <div class="slide bg_3">
        <p>スライド３枚目の内容</p>
      </div>
    </div>
    <div class="section bg_4">
      
      <a href="technology.html" class="btn">For more Tech infomation</a>
      
    </div>
    <div class="section bg_5">
      
      <a href="book.html" class="btn">For more Book infomation</a>
    </div>
  </main>
</div>