<%= render 'header' %>
<div class="masonry">
	<div class="grid">News<img src="images/technology/News Picks.png" width="300"/>【レビュー】アイウエオかきくけさしすせそ</div>
	<div class="grid">News<img src="images/technology/Nikkei.png" width="300"/>【レビュー】アイウエオかきくけさしすせそ</div>
	<div class="grid">検索アプリ<img src="images/technology/Smooz.png" width="300"/>【レビュー】アイウエオかきくけさしすせそ</div>
</div>